.detailsWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    height: 100%;
    gap:20px;
    background-color: white;
    box-shadow: 0px 2px 20px rgba(93, 149, 220, 0.2);

    border-radius: 10px;
    padding: 48px;
}


.detailsContainer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:16px;
    padding-top: 20px;
}

.detailsContainer a, .detailsContainer p a{
    padding: 12px;
    background-color: #e8e8e8;
    border-radius: 10px;
    
}

.copyPasteBar{
    box-shadow: 3px 3px 6px 0px #CCDBE8 inset, -3px -3px 6px 1px rgba(255,255,255,0.5) inset;
    padding: 20px;
    border-radius: 10px;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:max-content;
    padding: 16px;
    outline:none;
    border:none;
    align-self: flex-end;
    color:white;
    background: #3768CE;
    border-radius: 10px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #4CC346;
    transform: scale(1.05);
  }


  .TutorialContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    height: 100%;
    gap:20px;
    background-color: white;
    box-shadow: 0px 2px 20px rgba(93, 149, 220, 0.2);

    border-radius: 10px;
    padding: 48px;
}


.TutorialContainer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:16px;
    padding-top: 20px;
}
.TutorialContainer ol{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.TutorialContainer a, .TutorialContainer p a{
    padding: 12px;
    background-color: #e8e8e8;
    border-radius: 10px;
    
}

.TutorialContainer ol li img{
    border-radius: 10px;
}